[submodule "Core"]
	path = framework/Core
	url = https://github.com/Langulus/Core.git
[submodule "RTTI"]
	path = framework/RTTI
	url = https://github.com/Langulus/RTTI.git
[submodule "Logger"]
	path = framework/Logger
	url = https://github.com/Langulus/Logger.git
[submodule "SIMD"]
	path = framework/SIMD
	url = https://github.com/Langulus/SIMD.git
[submodule "Anyness"]
	path = framework/Anyness
	url = https://github.com/Langulus/Anyness.git
[submodule "Flow"]
	path = framework/Flow
	url = https://github.com/Langulus/Flow.git
[submodule "Entity"]
	path = framework/Entity
	url = https://github.com/Langulus/Entity.git
[submodule "Math"]
	path = framework/Math
	url = https://github.com/Langulus/Math.git
[submodule "mods/Mod-GLFW"]
	path = mods/Mod-GLFW
	url = https://github.com/Langulus/Mod-GLFW.git
[submodule "mods/Mod-ImGui"]
	path = mods/Mod-ImGui
	url = https://github.com/Langulus/Mod-ImGui.git
[submodule "mods/Mod-Vulkan"]
	path = mods/Mod-Vulkan
	url = https://github.com/Langulus/Mod-Vulkan.git
[submodule "mods/Mod-Assets-Materials"]
	path = mods/Mod-Assets-Materials
	url = https://github.com/Langulus/Mod-Assets-Materials.git
[submodule "mods/Mod-Assets-Geometry"]
	path = mods/Mod-Assets-Geometry
	url = https://github.com/Langulus/Mod-Assets-Geometry.git
[submodule "mods/Mod-Assets-Images"]
	path = mods/Mod-Assets-Images
	url = https://github.com/Langulus/Mod-Assets-Images.git
[submodule "mods/Mod-FileSystem"]
	path = mods/Mod-FileSystem
	url = https://github.com/Langulus/Mod-FileSystem.git
[submodule "framework/Fractalloc"]
	path = framework/Fractalloc
	url = https://github.com/Langulus/Fractalloc.git
[submodule "mods/Mod-FTXUI"]
	path = mods/Mod-FTXUI
	url = https://github.com/Langulus/Mod-FTXUI.git
[submodule "mods/Mod-Physics"]
	path = mods/Mod-Physics
	url = https://github.com/Langulus/Mod-Physics.git
[submodule "mods/Mod-ASCII"]
	path = mods/Mod-ASCII
	url = https://github.com/Langulus/Mod-ASCII.git
[submodule "mods/Mod-InputSDL"]
	path = mods/Mod-InputSDL
	url = https://github.com/Langulus/Mod-InputSDL.git
[submodule "mods/Mod-AI"]
	path = mods/Mod-AI
	url = https://github.com/Langulus/Mod-AI.git
[submodule "mods/Mod-Life"]
	path = mods/Mod-Life
	url = https://github.com/Langulus/Mod-Life.git
[submodule "mods/Mod-Storyteller"]
	path = mods/Mod-Storyteller
	url = https://github.com/Langulus/Mod-Storyteller.git
[submodule "mods/Mod-Network"]
	path = mods/Mod-Network
	url = https://github.com/Langulus/Mod-Network.git
[submodule "mods/Mod-UMS"]
	path = mods/Mod-UMS
	url = https://github.com/Langulus/Mod-UMS.git
[submodule "framework/Testing"]
	path = framework/Testing
	url = https://github.com/Langulus/Testing.git
