[submodule "Core"]
	path = framework/Core
	url = https://github.com/Langulus/Core.git
[submodule "RTTI"]
	path = framework/RTTI
	url = https://github.com/Langulus/RTTI.git
[submodule "Logger"]
	path = framework/Logger
	url = https://github.com/Langulus/Logger.git
[submodule "SIMD"]
	path = framework/SIMD
	url = https://github.com/Langulus/SIMD.git
[submodule "Anyness"]
	path = framework/Anyness
	url = https://github.com/Langulus/Anyness.git
[submodule "Flow"]
	path = framework/Flow
	url = https://github.com/Langulus/Flow.git
[submodule "Entity"]
	path = framework/Entity
	url = https://github.com/Langulus/Entity.git
[submodule "Math"]
	path = framework/Math
	url = https://github.com/Langulus/Math.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/Langulus/CMake.git
[submodule "mods/GLFW"]
	path = mods/Mod-GLFW
	url = https://github.com/Langulus/Mod-GLFW.git
[submodule "mods/Mod-ImGui"]
	path = mods/Mod-ImGui
	url = https://github.com/Langulus/Mod-ImGui.git
